
<footer class="text-white">
  <div class="footer-up bg-gray  p-5">
    <div class="container px-5">
      <div class="row mt-5">
        <div class="col-md-4">
          <div
            class="d-flex flex-column justify-content-center align-itmes-center"
          >
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p class="p-2">Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-md-4">
          <h3>AROUND THE WEB</h3>
          <div
            class="icon-list d-flex justify-content-md-center align-items-center"
          >
            <span><i class="fa-brands fa-facebook"></i> </span>
            <span><i class="fa-brands fa-twitter"></i> </span>
            <span><i class="fa-brands fa-linkedin-in"></i> </span>
            <span><i class="fa-solid fa-globe"></i> </span>
          </div>
        </div>
        <div class="col-md-4">
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-down bg-dark p-2 pt-3  text-center">
    <p>Copyright © Your Website 2021</p>
  </div>
</footer>
