<div class="portfolio text-center padding-from-top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="fw-bold fs-1">PORTFOLIO COMPONENT</h2>
        <div class="d-flex justify-content-center align-items-center mt-2">
          <div class="line bg-dark me-3"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line bg-dark ms-3"></div>
        </div>
      </div>
      <div class="col-12 row pb-3">
        <div class="col-md-4 g-3" *ngFor="let item of imgSrc">
          <div class="img-item img-fluid position-relative">
            <img
             
              class="w-100"
              src="../../assets/{{ item }}.png"
              alt="portfolio image"
            />
            <div
              class="layer d-flex justify-content-center align-items-center text-white"
            >
              <i class="fw-bold fa-solid fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
