<div class="bg-main-color vh-100 pt-5">
  <div class="container">
    
      <div class="d-flex flex-column justify-content-center align-items-center text-white mt-5 pt-3">
        
          <img
            class="my-img"
            src="../../assets/avataaars.svg"
            alt="avatar"
          />
   
        

        <h2 class="fs-2 py-3 mt-3">START FRAMEWORK</h2>
        <div class="d-flex justify-content-center align-items-center mb-3">
          <div class="line me-3"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line ms-3"></div>
        </div>
        <div>
          <p class="fs-5">Graphic Artist - Web Designer - Illustrator</p>
        </div>
     
    </div>
  </div>
</div>

